 <main>
      <h1>{{name}}</h1>
      <img class="cube" src={{imageURL}}>
      <div class="details">
        <p><span>Description:</span>{{description}}</span></p>
        <p><span>Difficulty:</span>{{difficultyLevel}}</span></p>
        <a class="btn" href="/">Back</a>
      </div>
    </main>