                <div class="accessory">
                    <img src="{{cube.imageUrl}}" alt="{{accsessory.name}}">
                    <h3>{{accsessory.name}}</h3>
                    <p>{{accsessory.description}}</p>
                </div>